.emaildetails__header {
    display: flex;
    align-items: center;
    border-bottom: 3px solid whitesmoke;
  }

  .emaildetails__header h4 {
    margin: 10px;
  }

  .emaildetails__middleheader {
    display: flex;
    align-items: center;
  }

  .emaildetails__middleheaderleft {
    display: flex;
    align-items: center;
    margin: 10px;
    border-bottom: 3px solid whitesmoke;
  }

  .emaildetails__middleheaderleft h4 {
    margin-left: 18px;
  }

  .emaildetails__middleheader svg {
    font-size: 10px;
  }

  .emaildetails__body {
    display: flex;
    margin: 10px;
  }

  .emailbody__msg {
    box-shadow: 0px 0px 5px #ccc;
    height: 80vh;
    margin: 10px;
  }